/**
 * fonts
 */

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("fonts/OpenSans-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'ycustom';
  src: url("fonts/ycustom.woff2") format("woff2");
}

/**
 * typography
 */

body {
  color: #474747;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
}

/* proper bold/italic glyphs */

strong, b {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: normal;
}

em:not(.fa):not(.fab):not(.fad):not(.fal):not(.far):not(.fas), i:not(.fa):not(.fab):not(.fad):not(.fal):not(.far):not(.fas) {
  font-family: "OpenSans-Italic";
  font-style: normal;
}

/* links */

a {
  color: #006d98;
}

a:hover {
  color: #084f6b;
}

/**
 * header
 */

#header>.row {
  border-bottom: 0.25rem solid black;
  /* border-bottom: none; */
}

/* navbar */

.top-bar {
  background: #C10230 !important;
  border: 0;
  box-shadow: 0 0.15rem 0.25rem #d9d8d6;
}

/*
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: #cf102d;
}
*/

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

/**
 * buttons
 */

.btn-primary {
  color: white;
  background: #006072;
  border: 1px solid transparent;
}

.btn-primary:hover {
  color: white;
  background: #03353f;
  border: 1px solid transparent;
}

/**
 * tab pills
 */

.tabbing.nav-pills>li>a {
  border-radius: 1rem 1rem 0 0 !important;
}

/* line 101, aspace.scss add padding between tabs */

.tabbing.nav-pills>li>a {
  margin-left: 0.5px;
}

/* change tree icons from chevrons to plus/minus icons */

#tree-container .expandme .expandme-icon:before {
  /* FA + */
  content: "\f067";
}

#tree-container .expandme .expandme-icon.expanded:before {
  /* FA - */
  content: "\f068";
}

#tree-container .expandme .expandme-icon, #tree-container .expandme .expandme-icon.expanded {
  font-family: "FontAwesome";
  transform: none;
  transition: none;
}

/* other chevronery */

.breadcrumb>li+li:before {
  color: #00171f;
  content: ">";
}

/**
 * yale icons
 */

[class^="yc-"], [class*=" yc-"] {
  font-family: "ycustom" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yc-4x {
  font-size: 4em;
}

.yc-series:before {
  content: "\e901";
}

.yc-collection:before {
  content: "\e900";
}

.fa-yale-accession {
  position: relative;
}

.fa-yale-accession:before {
  content: "\f0ad";
  font-size: .6em;
  position: absolute;
  transform: rotate(270deg);
  left: 2.5px;
  top: 5px;
}

.fa-yale-accession:after {
  content: "\f016";
  font-size: 1.2em;
  left: 0;
}

/**
 * icon colors
 */

[class^="record-type-badge"], [class*=" record-type-badge"], .large-badge button {
  color: black !important;
  border-color: black !important;
}

/*
.icon-repository {
  color: black;
}

.icon-collection {
  color: #490e67;
}

.icon-series {
  color: #ec7700;
}

.icon-collection-subcomponent {
  color: #006e43;
}

.icon-unprocessed {
  color: #76777A;
}

.icon-container {
  color: #bb83ca;
}

.icon-subject {
  color: #870064;
}

.icon-name {
  color: #13508b;
}

.icon-record-group {
  color: #006072;
}

.icon-digital-object {
  color: #59CBE8;
}
*/

/**
 * aspace footer stuff
 */

.aspace_links {
  text-align: right;
  line-height: 5rem;
}