/**
 * fonts
 */

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("fonts/OpenSans-BoldItalic.woff2") format("woff2");
}

/**
 * typography
 */

body {
  color: #474747;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
}

/* proper bold/italic glyphs */

strong, b {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: normal;
}

em, i:not(.fa) {
  font-family: "OpenSans-Italic";
  font-style: normal;
}

/* links */

a {
  color: #006d98;
}

a:hover {
  color: #084f6b;
}

/**
 * header
 */

#header>.row {
  border-bottom: 0.25rem solid black;
  /* border-bottom: none; */
}

/* navbar */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: #cf102d;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

/**
 * buttons
 */

.btn-primary {
  color: white;
  background: #006072;
  border: 1px solid transparent;
}

.btn-primary:hover {
  color: white;
  background: #03353f;
  border: 1px solid transparent;
}

/**
 * yale icons
 */

[class^="yc-"], [class*=" yc-"] {
  font-family: "OpenSans-Regular" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yc-4x {
  font-size: 4rem;
}

.yc-series:before {
  content: "\e901";
}

.yc-collection:before {
  content: "\e900";
}