/**
 * fonts
 */

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("fonts/OpenSans-BoldItalic.woff2") format("woff2");
}

/**
 * base elements
 */

body {
  font-family: "OpenSans-Regular";
  background-color: white;
}

a {
  color: #006d98;
}

#header {
  background-color: white;
}

div.h1 {
  font-family: "OpenSans-Regular";
  font-weight: 500;
  color: black;
  font-size: 2.5rem;
}

div.h1>a, div.h1>a:hover {
  font-family: "OpenSans-Regular";
  font-weight: 500;
  color: #006d98;
  text-decoration: none;
}

/**
 * !important required to override an applicationxxxxx.css (autogen)
 * There is no !important directive in this file.
 */

.top-bar {
  background-color: #cf102d !important;
  border: 0;
}

/**
 * !important required to override color in applicationxxxxx.css (autogen)
 * There is no !important directive in this file for color.
 * The font-size cannot be displayed as there is an !important
 * directive in the applicationxxxxx.css file.
 */

ul.navbar-nav>li>a, ul.navbar-nav>li>a:hover {
  font-family: "OpenSans-Regular";
  color: white !important;
  text-decoration: none !important;
}

ul.navbar-nav>li>a:hover {
  background: white;
  color: black !important;
  transition-duration: 0.3s;
}

h1 {
  font-family: "OpenSans-Regular";
  color: black;
  font-size: 1.75rem;
  font-weight: 500;
}

h2 {
  font-family: "OpenSans-Regular";
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
}

h3 {
  font-family: "OpenSans-Regular";
  font-weight: 500;
  color: black;
}

h4, h2.smaller_gray {
  font-family: "OpenSans-Regular";
  font-weight: 500;
  color: inherit;
  font-size: 1.2rem;
}

span.inline-label {
  font-family: "OpenSans-Regular";
}

div.profile {
  color: white;
  font-family: "OpenSans-Regular";
  font-weight: 500;
  vertical-align: middle;
  margin-top: 0 !important;
}

/**
 * skw:  We overrode all <a> tags to OpenSans-Regular.
 * Breadcrumbs shouldn"t be in that font.
 */

nav ul.breadcrumb li a {
  font-family: "OpenSans-Regular";
}

.record-type-badge {
  font-family: "OpenSans-Bold";
  font-weight: 500;
}

/* new for custom icons */

[class^="yc-"], [class*=" yc-"] {
  font-family: "OpenSans-Regular" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yc-4x {
  font-size: 4rem;
}

.yc-series:before {
  content: "\e901";
}

.yc-collection:before {
  content: "\e900";
}