<div id="bccms_footer" class="footer-wrapper">
    <div id="footer_container">

        <!-- ASpace Stuff -->
        <div class="aspace_links">
            <a href="help#harmful">Statement on Harmful Description</a> |
            <a href="https://www.bpl.org/special-collections-departments/" target="_blank"> BPL Special Collections</a>
            |
            <a href="https://www.bpl.org/have-a-question-about-our-special-collections/" target="_blank"> Contact
                Special Collections Staff</a> |
            <a href="https://archivesspace.bpl.org/" target="_blank">Staff Interface</a>
        </div>

        <h2 class="a11y-visually-hidden">Footer Menu</h2>
        <div class="footer_container_12">
            <div class="footer_grid">
                <div class="footer-menus clearfix">
                    <div class="social-links-wrapper">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/bostonpubliclibrary/" class="facebook_link">
                                    <img src="https://d4804za1f1gw.cloudfront.net/wp-content/themes/bibliocommons/images/facebook-icon.png"
                                        alt="Boston Public Library on Facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/bplboston" class="twitter_link">
                                    <img src="https://d4804za1f1gw.cloudfront.net/wp-content/themes/bibliocommons/images/twitter-icon.png"
                                        alt="Boston Public Library on Twitter"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bplboston/" class="instagram_link">
                                    <img src="https://d4804za1f1gw.cloudfront.net/wp-content/themes/bibliocommons/images/instagram-icon.png"
                                        alt="Boston Public Library on Instagram"></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/bostonpubliclib" class="youtube_link">
                                    <img src="https://d4804za1f1gw.cloudfront.net/wp-content/themes/bibliocommons/images/youtube-icon.png"
                                        alt="Boston Public Library on Youtube"></a>
                            </li>
                            <li>
                                <a href="https://www.bpl.org/subscribe-to-our-newsletter/" class="newsletter_link">
                                    <img src="https://d4804za1f1gw.cloudfront.net/wp-content/themes/bibliocommons/images/newsletter-icon.png"
                                        alt="Boston Public Library Newsletter"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-all-menu-columns">
                        <div class="footer-1-container footer-menu-column">
                            <h3 class="bccms-footer-heading">Visit</h3>
                            <div class="menu-visit-container">
                                <ul id="menu-visit" class="menu">
                                    <li id="menu-item-170508"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170508">
                                        <a href="https://bpl.bibliocommons.com/locations">Branch Libraries</a>
                                    </li>
                                    <li id="menu-item-170506"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170506">
                                        <a href="https://www.bpl.org/locations/3">Central Library</a>
                                    </li>
                                    <li id="menu-item-171226"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171226">
                                        <a href="https://www.bpl.org/about-us/holiday-closures/">Holiday Closures</a>
                                    </li>
                                    <li id="menu-item-170504"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170504">
                                        <a href="https://www.bpl.org/visit-central-library/art-tours/">Tours</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-2-container footer-menu-column">
                            <h3 class="bccms-footer-heading">About the BPL</h3>
                            <div class="menu-about-the-bpl-container">
                                <ul id="menu-about-the-bpl" class="menu">
                                    <li id="menu-item-175974"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175974">
                                        <a href="https://www.bpl.org/content/">Administration</a>
                                    </li>
                                    <li id="menu-item-170584"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170584">
                                        <a href="https://www.bpl.org/about-us/board-of-trustees/">Board of Trustees</a>
                                    </li>
                                    <li id="menu-item-171242"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171242">
                                        <a href="https://www.bpl.org/bpl-history/">BPL History</a>
                                    </li>
                                    <li id="menu-item-7197226"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7197226">
                                        <a href="https://www.merchstore.us/bpl/"
                                            data-analytics='[{"event":"bc.outboundLinkClick","payload":{"gtmCategory":"v2-page-interactions","gtmAction":"v2-outbound-link-click","gtmLabel":"https:\/\/www.merchstore.us\/bpl\/","gtmValue":1,"gtmContentType":"","gtmContainerName":"","gtmContentCreator":"","gtmCreatorType":"","gtmCardTitle":""}}]'>Gift
                                            Shop</a>
                                    </li>
                                    <li id="menu-item-171404"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171404">
                                        <a href="https://www.bpl.org/jobs-at-the-bpl/">Jobs at the BPL</a>
                                    </li>
                                    <li id="menu-item-170594"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170594">
                                        <a href="https://www.bpl.org/news/">News</a>
                                    </li>
                                    <li id="menu-item-6092910"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6092910">
                                        <a href="https://apps.bpl.org/newsletter/"
                                            data-analytics='[{"event":"bc.outboundLinkClick","payload":{"gtmCategory":"v2-page-interactions","gtmAction":"v2-outbound-link-click","gtmLabel":"https:\/\/apps.bpl.org\/newsletter\/","gtmValue":1,"gtmContentType":"","gtmContainerName":"","gtmContentCreator":"","gtmCreatorType":"","gtmCardTitle":""}}]'>Subscribe
                                            to Our Newsletter</a>
                                    </li>
                                    <li id="menu-item-170596"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170596">
                                        <a href="https://www.bpl.org/about-us/support-the-bpl/">Support the BPL</a>
                                    </li>
                                    <li id="menu-item-6458862"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6458862">
                                        <a href="https://www.bpl.org/contact-us/">Contact Us</a>
                                    </li>
                                    <li id="menu-item-170582"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170582">
                                        <a href="https://www.bpl.org/about-us/">More about the BPL&hellip;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-3-container footer-menu-column">
                            <h3 class="bccms-footer-heading">Services</h3>
                            <div class="menu-services-container">
                                <ul id="menu-services" class="menu">
                                    <li id="menu-item-182400"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182400">
                                        <a href="https://www.bpl.org/faqs/">Browse All FAQs</a>
                                    </li>
                                    <li id="menu-item-7196670"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7196670">
                                        <a href="https://www.bpl.org/adult-education-certification/">Adult Education
                                            &amp; Certification</a>
                                    </li>
                                    <li id="menu-item-172458"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172458">
                                        <a href="https://bpl.bibliocommons.com/events/">Classes</a>
                                    </li>
                                    <li id="menu-item-182398"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182398">
                                        <a href="https://www.bpl.org/computer-classes/">Computer &amp; Technology
                                            Classes</a>
                                    </li>
                                    <li id="menu-item-1047852"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047852">
                                        <a href="https://www.bpl.org/concerts-in-the-courtyard/">Concerts in the
                                            Courtyard</a>
                                    </li>
                                    <li id="menu-item-182740"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182740">
                                        <a href="https://www.bpl.org/ecard/">eCard Registration</a>
                                    </li>
                                    <li id="menu-item-170452"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170452">
                                        <a href="https://www.bpl.org/get-a-library-card/">Library Card Registration</a>
                                    </li>
                                    <li id="menu-item-170476"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170476">
                                        <a href="https://bpl.bibliocommons.com/user/login">Log In to Your Account</a>
                                    </li>
                                    <li id="menu-item-170468"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170468">
                                        <a href="https://www.bpl.org/reservable-community-spaces/">Meeting Room or Study
                                            Room Reservation</a>
                                    </li>
                                    <li id="menu-item-7196672"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7196672">
                                        <a href="https://www.bpl.org/museum-passes/">Museum Passes</a>
                                    </li>
                                    <li id="menu-item-5108220"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5108220">
                                        <a href="https://www.bpl.org/private-event-space-rental/">Private Event
                                            Booking</a>
                                    </li>
                                    <li id="menu-item-184402"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184402">
                                        <a href="https://www.bpl.org/signature-programs/">Signature Programs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-menu-column footer-multi-row-column">
                            <div class="footer-4-container footer-menu-row">
                                <h3 class="bccms-footer-heading">Resources For...</h3>
                                <div class="menu-resources-for-container">
                                    <ul id="menu-resources-for" class="menu">
                                        <li id="menu-item-171260"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171260">
                                            <a href="http://guides.bpl.org/citizenship"
                                                data-analytics='[{"event":"bc.outboundLinkClick","payload":{"gtmCategory":"v2-page-interactions","gtmAction":"v2-outbound-link-click","gtmLabel":"http:\/\/guides.bpl.org\/citizenship","gtmValue":1,"gtmContentType":"","gtmContainerName":"","gtmContentCreator":"","gtmCreatorType":"","gtmCardTitle":""}}]'>Citizenship</a>
                                        </li>
                                        <li id="menu-item-7194150"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7194150">
                                            <a href="https://www.bpl.org/kblic-resources/">Entrepreneurs</a>
                                        </li>
                                        <li id="menu-item-177024"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177024">
                                            <a href="http://guides.bpl.org/genealogymain"
                                                data-analytics='[{"event":"bc.outboundLinkClick","payload":{"gtmCategory":"v2-page-interactions","gtmAction":"v2-outbound-link-click","gtmLabel":"http:\/\/guides.bpl.org\/genealogymain","gtmValue":1,"gtmContentType":"","gtmContainerName":"","gtmContentCreator":"","gtmCreatorType":"","gtmCardTitle":""}}]'>Genealogists</a>
                                        </li>
                                        <li id="menu-item-7196676"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7196676">
                                            <a href="https://www.bpl.org/job-career-success/">Job Seekers</a>
                                        </li>
                                        <li id="menu-item-171474"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171474">
                                            <a href="https://www.bpl.org/kids/">Kids</a>
                                        </li>
                                        <li id="menu-item-7196678"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7196678">
                                            <a href="https://www.bpl.org/learning-english/">English Language
                                                Learners</a>
                                        </li>
                                        <li id="menu-item-177022"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177022">
                                            <a
                                                href="https://www.bpl.org/services-central-library/research-services/">Researchers</a>
                                        </li>
                                        <li id="menu-item-6163568"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6163568">
                                            <a href="https://www.bpl.org/older-adults/">Older Adults</a>
                                        </li>
                                        <li id="menu-item-170524"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170524">
                                            <a href="https://www.bpl.org/teens/">Teens</a>
                                        </li>
                                        <li id="menu-item-170514"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170514">
                                            <a href="https://www.bpl.org/users-with-disabilities/">Users with
                                                Disabilities</a>
                                        </li>
                                        <li id="menu-item-912838"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-912838">
                                            <a href="https://www.bpl.org/world-languages/">World Language
                                                Collections</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-5-container footer-menu-row"></div>
                        </div>
                        <div class="footer-menu-column">
                            <div class="footer-contact-info  large-footer">
                                <h3 class="bccms-footer-heading"><a href="https://www.bpl.org/contact-us/"
                                        class="contact_us_url">Contact Us</a></h3>
                                <div itemscope itemtype="http://www.schema.org/Library">
                                    <div itemprop="name">Boston Public Library</div>
                                    <div itemprop="address">700 Boylston St. <br />Boston, MA 02116 </div>
                                    <div itemprop="telephone">
                                        617-536-5400 ask@bpl.org </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <a href="https://apps.bpl.org/ask/" class="feedback-btn"><span>Questions or
                                    Suggestions?</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contact-info small-footer">
            <div class="small-footer-content">
                <!-- Footer to be shown on small screen sizes. -->
                <h3 class="bccms-footer-heading"><a href="https://www.bpl.org/contact-us/"
                        class="contact_us_url">Contact Us</a></h3>
                <div>
                    <div>Boston Public Library</div>
                    <div>700 Boylston St. <br />Boston, MA 02116</div>
                    <div>
                        617-536-5400 ask@bpl.org </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="footer-bottom clearfix">
        <a href="https://apps.bpl.org/ask/" class="feedback-btn-small">Questions or Suggestions?</a>
        <div class="clear"></div>
        <div class="support-lib-link">
            <a href="https://www.boston.gov/" class="support-lib-link__link">
                <img alt="Support Library"
                    src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/30/2018/04/COB_B_Blue_wName-01-4.png?v=3.30.1">
                <span class="a11y-visually-hidden">, opens a new window</span>
            </a>
        </div>
        <div class="footer-col-2">
            <div id="green-links-wrapper">
            </div>
            <div class="clear"></div>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'ar,el,es,fr,ht,it,pt,ru,vi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-81469679-1' }, 'google_translate_element');
                }
            </script>
            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script type="text/javascript">
                if (navigator.userAgent.match(/(Android)/i)) {
                    $(document).bind('touchmove', function (e) {
                        var banner_frame = $('.goog-te-banner-frame');
                        if (banner_frame.length > 0 &&
                            banner_frame.attr('style') == 'visibility:visible' &&
                            banner_frame.is(':visible') == false) {
                            var skiptrans = $('.skiptranslate').first();
                            skiptrans.css('width', '100%');
                            skiptrans.css('height', '39px');
                            skiptrans.css('position', 'fixed');
                            skiptrans.css('display', 'block');
                            skiptrans.css('z-index', '99999');
                            banner_frame.css('display', 'block');
                        }
                    });
                }
            </script>
            <div class="clear"></div>
            <div class="footer-bottom-copyright">
                <a href="https://bpl.bibliocommons.com/info/terms" target="_blank" rel="noopener noreferrer">
                    Terms of Use<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <a href="https://bpl.bibliocommons.com/info/privacy" target="_blank" rel="noopener noreferrer">
                    Privacy Statement<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <a href="https://bpl.bibliocommons.com/info/accessibility/" target="_blank" rel="noopener noreferrer">
                    Accessibility Statement<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <span class="copyright-statement">
                    © 2021 Boston Public Library </span>
            </div>
        </div>
    </div>
</div>