<div id="bccms_footer" class="footer-wrapper">
    <div id="footer_container">

        <!-- ASpace Stuff -->
        <div class="aspace_links">
            <a href="/help#harmful">Statement on Harmful Description</a>
            &emsp;|&emsp;
            <a href="https://www.bpl.org/special-collections-departments/" target="_blank"> BPL Special Collections</a>
            &emsp;|&emsp;
            <a href="https://www.bpl.org/have-a-question-about-our-special-collections/" target="_blank">Contact Special
                Collections Staff</a>
            &emsp;|&emsp;
            <a href="https://archivesspace.bpl.org/" target="_blank">Staff Interface</a>
        </div>

        <h2 class="a11y-visually-hidden">Footer Menu</h2>
        <div class="footer-contact-info small-footer">
            <div class="small-footer-content">
                <!-- Footer to be shown on small screen sizes. -->
                <h3 class="bccms-footer-heading"><a href="https://www.bpl.org/contact-us/"
                        class="contact_us_url">Contact Us</a></h3>
                <div>
                    <div>Boston Public Library</div>
                    <div>700 Boylston St. <br />Boston, MA 02116</div>
                    <div>
                        617-536-5400 ask@bpl.org </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="footer-bottom clearfix">
        <a href="https://apps.bpl.org/ask/" class="feedback-btn-small">Questions or Suggestions?</a>
        <div class="clear"></div>
        <div class="support-lib-link">
            <a href="https://www.boston.gov/" class="support-lib-link__link">
                <img alt="Support Library"
                    src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/30/2018/04/COB_B_Blue_wName-01-4.png?v=3.30.1">
                <span class="a11y-visually-hidden">, opens a new window</span>
            </a>
        </div>
        <div class="footer-col-2">
            <div id="green-links-wrapper">
            </div>
            <div class="clear"></div>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'ar,el,es,fr,ht,it,pt,ru,vi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-81469679-1' }, 'google_translate_element');
                }
            </script>
            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script type="text/javascript">
                if (navigator.userAgent.match(/(Android)/i)) {
                    $(document).bind('touchmove', function (e) {
                        var banner_frame = $('.goog-te-banner-frame');
                        if (banner_frame.length > 0 &&
                            banner_frame.attr('style') == 'visibility:visible' &&
                            banner_frame.is(':visible') == false) {
                            var skiptrans = $('.skiptranslate').first();
                            skiptrans.css('width', '100%');
                            skiptrans.css('height', '39px');
                            skiptrans.css('position', 'fixed');
                            skiptrans.css('display', 'block');
                            skiptrans.css('z-index', '99999');
                            banner_frame.css('display', 'block');
                        }
                    });
                }
            </script>
            <div class="clear"></div>
            <div class="footer-bottom-copyright">
                <a href="https://bpl.bibliocommons.com/info/terms" target="_blank" rel="noopener noreferrer">
                    Terms of Use<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <a href="https://bpl.bibliocommons.com/info/privacy" target="_blank" rel="noopener noreferrer">
                    Privacy Statement<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <a href="https://bpl.bibliocommons.com/info/accessibility/" target="_blank" rel="noopener noreferrer">
                    Accessibility Statement<span class="a11y-visually-hidden">, opens a new window</span>
                    <!--
                -->
                </a>
                <span class="copyright-statement">
                    © 2021 Boston Public Library </span>
            </div>
        </div>
    </div>
</div>